---
import Layout from "../../layouts/Layout.astro";
import {
  getPokemonByName,
  getPokemonNameStaticPaths,
} from "../../services/pokedex";
const { name } = Astro.params;
let pokemon;
if (name) {
  pokemon = await getPokemonByName(name);
}




export async function getStaticPaths() {
  const staticPaths = await getPokemonNameStaticPaths();
  return staticPaths;
}
---

<Layout title={`Pokemon ${name}`}>
  <h1 class="text-center py-5">Pokemon {name}</h1>
  <table class="border-slate-400 border-solid border-2 m-auto">
    <tr class="border-slate-400 border-solid border-2">
      <th class="border-slate-400 border-solid border-2">ID</th>
      <th class="border-slate-400 border-solid border-2">Name</th>
      <th class="border-slate-400 border-solid border-2">Height</th>
      <th class="border-slate-400 border-solid border-2">Sprite</th>
      <th class="border-slate-400 border-solid border-2">Type</th>
    </tr>
    <tr>
      <td class="border-slate-400 border-solid border-2">{pokemon?.id}</td>
      <td class="border-slate-400 border-solid border-2">{pokemon?.name}</td>
      <td class="border-slate-400 border-solid border-2">{pokemon?.height}</td>
      <td class="border-slate-400 border-solid border-2"
        ><img src={pokemon?.sprites.front_default} /></td
      >
      <td class="border-slate-400 border-solid border-2">
        {pokemon?.allTypes.map((type) => type.type + " ")}</td
      >
    </tr>
  </table>
</Layout>
