---
import Layout from "../../layouts/Layout.astro";
import {
  getPokemonByName,
  getPokemonNameStaticPaths,
} from "../../services/pokedex";
const { name } = Astro.params;
let pokemon;
if (name) {
  pokemon = await getPokemonByName(name);
}

export async function getStaticPaths() {
  const staticPaths = await getPokemonNameStaticPaths();
  return staticPaths;
}
---

<Layout title={`Pokemon ${name}`}>
  <article class="flex w-max justify-center flex-col m-auto">
    <img
      src={pokemon?.sprites.front_default}
      alt={pokemon?.name}
      class="aspect-square"
    />
    <p class="text-xl">Name: {pokemon?.name}<p/>
    <p class="text-xl">ID: {pokemon?.id}</p>
    <p class="text-xl">Types: {pokemon?.allTypes.map((type) => type.type + " ")}</p>
    <p class="text-xl">Height: {pokemon?.height}</p>
  </article>
</Layout>
